<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FutsalServlet</servlet-name>
        <servlet-class>servlets.FutsalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlayer</servlet-name>
        <servlet-class>controller.NewPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTeam</servlet-name>
        <servlet-class>controller.NewTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FutsalServlet</servlet-name>
        <url-pattern>/FutsalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlayer</servlet-name>
        <url-pattern>/NewPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTeam</servlet-name>
        <url-pattern>/NewTeam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
